In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

In [2]:
url_jan = "/bigdata/jelicicna/output_datasets/limited_data_nextbike_2020-01.csv"
url_feb = "/bigdata/jelicicna/output_datasets/limited_data_nextbike_2020-02.csv"
url_mar = "/bigdata/jelicicna/output_datasets/limited_data_nextbike_2020-03.csv"
url_apr = "/bigdata/jelicicna/output_datasets/limited_data_nextbike_2020-04.csv"
url_may = "/bigdata/jelicicna/output_datasets/limited_data_nextbike_2020-05.csv"
url_jun = "/bigdata/jelicicna/output_datasets/limited_data_nextbike_2020-06.csv"
url_jul = "/bigdata/jelicicna/output_datasets/limited_data_nextbike_2020-07.csv"
df_jan = pd.read_csv(url_jan, sep=';', low_memory=False)
df_feb = pd.read_csv(url_feb, sep=';', low_memory=False)
df_mar = pd.read_csv(url_mar, sep=';', low_memory=False)
df_apr = pd.read_csv(url_apr, sep=';', low_memory=False)
df_may = pd.read_csv(url_may, sep=';', low_memory=False)
df_jun = pd.read_csv(url_jun, sep=';', low_memory=False)
df_jul = pd.read_csv(url_jul, sep=';', low_memory=False)

In [3]:
pd.set_option('display.max_columns()', None)

In [4]:
matplotlib.rcParams['figure.figsize'] = (16.0, 12.0)
matplotlib.style.use('ggplot')

## Quantitative analysis

In [5]:
df_jan.describe()

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,available_bikes,calculated_distance
count,53259.000000,53259.000000,53259.000000,53259.000000,53259.000000,53259.000000,53259.000000,5.325900e+04,5.325900e+04,53259.000000,53259.000000,53259.000000
mean,32019.271916,50.940963,6.949696,50.940982,6.949573,31.893558,1670.938020,2.701374e+07,2.702923e+07,487.673332,2566.414108,14806.107888
std,18527.881014,0.019349,0.033312,0.019414,0.033367,51.600339,1240.207784,4.328948e+05,3.187221e+05,1171.476845,43.244154,21502.723525
min,0.000000,50.732188,6.833255,50.733653,6.772942,2.000000,200.000000,3.600450e+05,3.786530e+05,0.000000,2438.000000,1500.000000
25%,15934.500000,50.927299,6.924878,50.927327,6.924801,10.000000,749.000000,2.676976e+07,2.678715e+07,38.000000,2534.000000,6500.000000
50%,32037.000000,50.938865,6.946697,50.938938,6.946535,16.000000,1309.000000,2.702643e+07,2.704066e+07,131.000000,2571.000000,9000.000000
75%,48089.500000,50.953877,6.970407,50.953933,6.970251,29.000000,2276.000000,2.727286e+07,2.728087e+07,488.000000,2604.000000,14000.000000
max,64090.000000,51.017990,7.097361,51.028600,7.101521,479.000000,14587.000000,2.745492e+07,2.745523e+07,33270.000000,2673.000000,201500.000000

In [6]:
df_feb.describe()

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,available_bikes,calculated_distance
count,44869.000000,44869.000000,44869.000000,44869.000000,44869.000000,44869.000000,44869.000000,4.486900e+04,4.486900e+04,44869.000000,44869.000000,44869.000000
mean,27226.371281,50.940278,6.948406,50.940330,6.948330,33.163498,1689.970848,2.776254e+07,2.777648e+07,508.223941,2600.395930,15340.346342
std,15733.204752,0.019298,0.032474,0.019360,0.032551,53.204168,1251.263623,3.924760e+05,2.036172e+05,1175.377842,44.074468,22166.767834
min,0.000000,50.858236,6.827578,50.847919,6.827578,2.000000,200.000000,3.822530e+05,1.262233e+07,0.000000,2500.000000,1500.000000
25%,13646.000000,50.926789,6.924770,50.926790,6.924551,10.000000,750.000000,2.759760e+07,2.760746e+07,42.000000,2564.000000,6500.000000
50%,27073.000000,50.938365,6.945414,50.938421,6.945441,17.000000,1332.000000,2.776754e+07,2.777675e+07,147.000000,2600.000000,9000.000000
75%,40853.000000,50.952910,6.966455,50.952951,6.966455,30.000000,2297.000000,2.792322e+07,2.793223e+07,534.000000,2640.000000,14000.000000
max,54432.000000,51.052009,7.048083,51.058823,7.062061,479.000000,11842.000000,2.812769e+07,2.812802e+07,36793.000000,2694.000000,201500.000000

In [7]:
df_mar.describe()

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,available_bikes,calculated_distance
count,39663.000000,39663.000000,39663.000000,39663.000000,39663.000000,39663.000000,39663.000000,3.966300e+04,3.966300e+04,39663.000000,39663.000000,39663.00000
mean,24373.462925,50.940555,6.949739,50.940613,6.949784,37.601392,1863.872652,2.846728e+07,2.848070e+07,586.571666,2395.590298,17193.27837
std,14037.583746,0.020643,0.033177,0.020771,0.033231,57.317828,1394.934116,4.050043e+05,2.860357e+05,1251.194032,494.317685,23881.08236
min,0.000000,50.846436,6.826575,50.846363,6.826575,2.000000,200.000000,4.285730e+05,4.426000e+05,0.000000,1081.000000,1500.00000
25%,12214.500000,50.926730,6.925519,50.926742,6.925568,11.000000,794.000000,2.830168e+07,2.830938e+07,45.000000,2509.000000,6500.00000
50%,24388.000000,50.938894,6.947443,50.938995,6.947613,19.000000,1473.000000,2.848363e+07,2.849322e+07,175.000000,2584.000000,9000.00000
75%,36554.000000,50.953785,6.969869,50.953968,6.969951,34.000000,2596.000000,2.864452e+07,2.865432e+07,697.000000,2674.000000,16500.00000
max,48538.000000,51.484498,7.086521,51.496484,7.093986,479.000000,13818.000000,2.880294e+07,2.880339e+07,35972.000000,2745.000000,201500.00000

In [8]:
df_apr.describe()

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,available_bikes,calculated_distance
count,45057.000000,45057.000000,45057.000000,45057.000000,45057.000000,45057.000000,45057.000000,4.505700e+04,4.505700e+04,45057.000000,45057.000000,45057.000000
mean,28997.568813,50.940574,6.948778,50.940628,6.948708,42.815900,2087.415252,2.911511e+07,2.912643e+07,549.777637,1151.562155,19352.109550
std,16901.663121,0.020977,0.032518,0.021145,0.032596,61.042178,1552.291260,4.087198e+05,3.610272e+05,1067.050334,26.717006,25437.533715
min,0.000000,50.709290,6.813468,50.692742,6.813468,2.000000,200.000000,3.601930e+05,3.796370e+05,0.000000,1065.000000,1500.000000
25%,14125.000000,50.926462,6.925340,50.926456,6.925238,13.000000,876.000000,2.895121e+07,2.896057e+07,40.000000,1134.000000,6500.000000
50%,28931.000000,50.938751,6.947109,50.938838,6.947034,22.000000,1710.000000,2.911466e+07,2.912349e+07,164.000000,1152.000000,11500.000000
75%,43813.000000,50.954641,6.968562,50.954762,6.968511,41.000000,2923.000000,2.928717e+07,2.929672e+07,750.000000,1172.000000,19000.000000
max,58227.000000,51.048648,7.165486,51.048567,7.165486,479.000000,14315.000000,2.947470e+07,2.947566e+07,32680.000000,1256.000000,201500.000000

In [9]:
df_may.describe()

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,available_bikes,calculated_distance
count,56505.000000,56505.000000,56505.000000,56505.000000,56505.000000,56505.000000,56505.000000,5.650500e+04,5.650500e+04,56505.000000,56505.000000,56505.000000
mean,35162.033236,50.940288,6.948569,50.940270,6.948507,41.117122,2080.412548,2.995094e+07,2.996351e+07,453.091709,1157.427042,18641.182196
std,20254.371919,0.020441,0.031708,0.020588,0.031765,60.981451,1510.400908,3.990966e+05,3.571576e+05,1029.471113,37.834966,25415.312685
min,0.000000,50.737556,6.779204,50.732689,6.779655,2.000000,200.000000,3.891490e+05,3.638750e+05,0.000000,1058.000000,1500.000000
25%,17601.000000,50.926368,6.925789,50.926287,6.925780,13.000000,913.000000,2.969409e+07,2.970537e+07,36.000000,1131.000000,6500.000000
50%,34924.000000,50.938382,6.946484,50.938357,6.946416,21.000000,1726.000000,2.994905e+07,2.996186e+07,125.000000,1157.000000,11500.000000
75%,52957.000000,50.953997,6.966291,50.954018,6.966325,38.000000,2868.000000,3.021025e+07,3.022117e+07,510.000000,1181.000000,16500.000000
max,70000.000000,51.461867,7.101909,51.461791,7.101909,479.000000,14901.000000,3.047070e+07,3.047122e+07,44274.000000,1263.000000,201500.000000

In [10]:
df_jun.describe()

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,available_bikes,calculated_distance
count,58334.00000,58334.000000,58334.000000,58334.000000,58334.000000,58334.000000,58334.000000,5.833400e+04,5.833400e+04,58334.000000,58334.000000,58334.000000
mean,35760.22558,50.940228,6.948676,50.940281,6.948651,40.990160,2092.978126,3.110703e+07,3.112332e+07,364.377910,1117.519714,18598.433161
std,20737.46577,0.020771,0.032162,0.020916,0.032240,61.831935,1523.939928,5.612432e+05,4.748900e+05,921.159683,36.572076,25765.646426
min,1.00000,50.736577,6.808207,50.738419,6.765073,2.000000,200.000000,3.593700e+05,3.593700e+05,0.000000,1030.000000,1500.000000
25%,17794.25000,50.926719,6.925829,50.926689,6.925768,12.000000,938.000000,3.076978e+07,3.078161e+07,31.000000,1087.000000,6500.000000
50%,35759.50000,50.938252,6.946669,50.938275,6.946697,21.000000,1731.000000,3.112920e+07,3.114743e+07,102.000000,1122.000000,11500.000000
75%,53746.75000,50.953113,6.966545,50.953209,6.966593,37.000000,2871.000000,3.143826e+07,3.145022e+07,365.000000,1148.000000,16500.000000
max,71584.00000,51.461947,7.145875,51.462036,7.145875,479.000000,14317.000000,3.180570e+07,3.180678e+07,39825.000000,1193.000000,201500.000000

In [11]:
df_jul.describe()

,old_index,lat_begin,lng_begin,lat_end,lng_end,ride_time,distance,uid_begin,uid_end,standing_before_ride,available_bikes,calculated_distance
count,55446.000000,55446.000000,55446.000000,55446.000000,55446.000000,55446.000000,55446.000000,5.544600e+04,5.544600e+04,55446.000000,55446.000000,55446.000000
mean,34244.168254,50.940341,6.949334,50.940367,6.949313,42.196101,2059.087472,3.261859e+07,3.263650e+07,342.236807,1057.954118,19098.925080
std,19721.227050,0.020041,0.032446,0.020108,0.032561,63.160529,1492.749689,6.862819e+05,6.272077e+05,930.641166,53.059797,26322.074535
min,3.000000,50.724577,6.810966,50.724577,6.810966,2.000000,200.000000,3.630170e+05,3.673710e+05,0.000000,930.000000,1500.000000
25%,17345.250000,50.927075,6.926341,50.927101,6.926328,13.000000,918.000000,3.220408e+07,3.222290e+07,30.000000,1018.000000,6500.000000
50%,34271.500000,50.938425,6.947703,50.938421,6.947670,21.000000,1703.000000,3.262537e+07,3.264177e+07,96.000000,1056.000000,11500.000000
75%,51521.750000,50.952835,6.968769,50.952896,6.968832,38.000000,2820.750000,3.304748e+07,3.306299e+07,331.000000,1093.000000,16500.000000
max,68287.000000,51.052740,7.124766,51.050681,7.174642,479.000000,14966.000000,3.350096e+07,3.350180e+07,42354.000000,1194.000000,201500.000000