In [1]:
import pandas as pd

In [2]:
url = "output_datasets/cleaned_data_nextbike_2020-02.csv.gz"
df = pd.read_csv(url, sep=';', parse_dates=True, low_memory=False)

In [4]:
table = df.head()

In [5]:
table

,lat,lng,time_begin,time_end,name,address,bike,bike_racks,bikes,booked_bikes,...,rack_locks,special_racks,spot,terminal_type,uid,city,country_code,company,timezone,available_bikes
0,50.938699,6.934269,2020-02-01 02:53:02.381322,2020-02-01 02:53:02.381322,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27455312,Köln,DE,Nextbike,Europe/Berlin,2660
1,50.938699,6.934264,2020-02-01 02:54:02.716220,2020-02-01 03:27:02.394296,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27455312,Köln,DE,Nextbike,Europe/Berlin,2660
2,50.950791,6.922121,2020-02-01 03:51:02.284672,2020-02-01 03:51:02.284672,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27458309,Köln,DE,Nextbike,Europe/Berlin,2659
3,50.950787,6.922128,2020-02-01 03:52:02.712139,2020-02-01 19:17:01.915981,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27458309,Köln,DE,Nextbike,Europe/Berlin,2660
4,50.927378,6.939596,2020-02-01 19:41:03.036455,2020-02-01 19:41:03.036455,BIKE 21264,NaN,True,0,1,0,...,False,0,False,NaN,27473030,Köln,DE,Nextbike,Europe/Berlin,2626

In [17]:
table.drop(['address', 'bike', 'bike_racks', 'bikes', 'booked_bikes', 'free_racks', 'free_special_racks', 'maintenance', 'number',
            'place_type', 'rack_locks', 'special_racks', 'spot', 'terminal_type', 'city',
            'country_code', 'company', 'timezone'],axis=1, inplace=True)

C:\Users\nadja\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
table

,lat,lng,time_begin,time_end,name,uid,available_bikes
0,50.938699,6.934269,2020-02-01 02:53:02.381322,2020-02-01 02:53:02.381322,BIKE 21264,27455312,2660
1,50.938699,6.934264,2020-02-01 02:54:02.716220,2020-02-01 03:27:02.394296,BIKE 21264,27455312,2660
2,50.950791,6.922121,2020-02-01 03:51:02.284672,2020-02-01 03:51:02.284672,BIKE 21264,27458309,2659
3,50.950787,6.922128,2020-02-01 03:52:02.712139,2020-02-01 19:17:01.915981,BIKE 21264,27458309,2660
4,50.927378,6.939596,2020-02-01 19:41:03.036455,2020-02-01 19:41:03.036455,BIKE 21264,27473030,2626

In [19]:
with open('mytable.tex','w') as tf:
    tf.write(table.to_latex())