In [1]:
import pandas as pd
import random
from datetime import datetime
import time
from itertools import islice

In [2]:
def unique(sequence): #removes duplicates from a list whilst preserving order
    visited = set()
    return [x for x in sequence if not (x in visited or visited.add(x))]

In [3]:
def parse_timestamp(el):
    a = el.split('.')[0]
    b = datetime.strptime(a, fmt)
    return b

In [4]:
fmt = '%Y-%m-%d %H:%M:%S'

In [5]:
url = "/bigdata/jelicicna/output_datasets/parked_time_data_nextbike_2021-01.csv.gz"
#url = "parked_time_data_nextbike_2020-01.csv"

In [6]:
df = pd.read_csv(url, sep=';', low_memory=False)

In [7]:
df['parking_begin'] = df['parking_begin'].map(parse_timestamp)
df['parking_end'] = df['parking_end'].map(parse_timestamp)

In [8]:
df.columns

Index(['lat', 'lng', 'parking_begin', 'parking_end', 'parked_time', 'uid',
       'name', 'address', 'available_bikes', 'maintenance', 'bike',
       'bike_racks', 'bikes', 'booked_bikes', 'free_racks',
       'free_special_racks', 'number', 'place_type', 'rack_locks',
       'special_racks', 'spot', 'terminal_type', 'city', 'country_code',
       'company', 'timezone'],
      dtype='object')

In [9]:
pd.set_option('display.max_columns()', None)

In [10]:
new_df = pd.DataFrame(columns= ['old_index', 'lat', 'lng', 'parking_begin', 'parking_end', 'parked_time',
                                'uid', 'name', 'address', 'available_bikes', 'maintenance', 'bike', 'bike_racks', 'bikes', 
                                'booked_bikes', 'free_racks', 'free_special_racks', 'number', 
                                'place_type', 'rack_locks', 'special_racks', 'spot', 'terminal_type', 'city',
                                'country_code', 'company', 'timezone'] ) 
#empty dataframe with the new column structure

#### OLD_INDEX is gonna be used later when we itterate trough smaller data frames containing only data rows with same uid. 
#### These subset data frames create new indexes but we use old index to compare positions based on the original place in the main df

In [12]:
df.head()

,lat,lng,parking_begin,parking_end,parked_time,uid,name,address,available_bikes,maintenance,bike,bike_racks,bikes,booked_bikes,free_racks,free_special_racks,number,place_type,rack_locks,special_racks,spot,terminal_type,city,country_code,company,timezone
0,50.961457,6.999181,2021-01-01 00:00:01,2021-01-06 11:26:01,7886.0,40590363,BIKE 22329,NaN,814,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
1,50.931226,6.925998,2021-01-06 11:57:02,2021-01-06 16:29:02,272.0,40712345,BIKE 22329,NaN,789,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
2,50.931327,6.909380,2021-01-06 16:41:02,2021-01-06 16:41:02,0.0,40717401,BIKE 22329,NaN,769,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
3,50.931359,6.909372,2021-01-06 16:42:01,2021-01-08 15:13:01,2791.0,40717401,BIKE 22329,NaN,771,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
4,50.936145,6.929095,2021-01-08 17:05:02,2021-01-10 12:15:02,2590.0,40759633,BIKE 22329,NaN,764,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin

In [13]:
uidsToList = df['uid'].tolist()
uidsList = unique(uidsToList) #removes duplicates from a list whilst preserving order

In [14]:
len(uidsList)

30543

In [15]:
df.reset_index(inplace=True)

In [16]:
df.rename(columns={"index": "old_index"}, inplace=True) #create duplicate column of indexes - old_index

### We want to merge all the rows with the same uid into one row
### First we need to check GPS errors

Old index order is used to interupt same uid processing if two rows are not in a sequence in original data frame. This eliminates the error that was created in cases when one uid appeared for two riddes that are sepparated by many other rides on the same bike. This error is related to how the uid is generated

In [17]:
questionable_changes = {} #creating dictionary to hold uid:difference 
for uid in uidsList: 
    single_uid_records = df[df['uid']==uid]
    first_row_data = single_uid_records.iloc[0]
    last_end_time = first_row_data['parking_end']
    last_oi = first_row_data['old_index']

    for index, row in islice(single_uid_records.iterrows(), 1, None):
        if last_oi+1 != df['old_index'][index]: #using old index to interupt same uid processing if two rows are not in a sequence in original data frame
            break

        d1_ts = time.mktime(df['parking_begin'][index].timetuple())
        d2_ts = time.mktime(last_end_time.timetuple())

        minsDiff = round((int(d1_ts-d2_ts) / 60), 0)

        last_end_time = row['parking_end']
        last_oi = df['old_index'][index]
        if minsDiff > 1:
            questionable_changes[uid] = minsDiff

#### Same uid indicates one parking - if there are multiple rows with same uid we expect that to be a GPS error that creates false rides in duration of one minute while the bike was actualy parked . The result of questionable changes search is a dictionary containing all uids that have multiple rows where bike desapeared from parking for more than one minute

In [18]:
questionable_changes

{40637934: 15490.0,
 40642496: 528.0,
 40752432: 8913.0,
 40782445: 48.0,
 40801046: 2.0,
 40858496: 2.0,
 40858714: 2.0,
 41004603: 2.0,
 41051376: 4540.0,
 41116880: 4046.0}

In [19]:
len(questionable_changes)

10

In [20]:
len(set(questionable_changes))

10

In [ ]:
single_uid= df[df['uid']== 26550515]
single_uid

#### We checked GPS errors and found multiple questionable changes, meaning that bike was missing from GPS for longer time than just an momentarily variation in location. 
### The following decision was made on dec19 or jan20 but it was changed in favor of droping questionable changes
#### Changes in location were controled (making distance controle for that) and conclusion is thata everything with same uid should be merged. Rows with same uid's will be merged and minutes of standing added together + difference in minutes that looks like a ride but it is only GPS error

### Running cells to clean the data from extra rows (temporar solutions for distance check and for choosing lat and lng)

In [ ]:
df.drop(df.index[qc_list], inplace=True)

In [ ]:
list_of_id = []
for index, row in df.iterrows():
    for i in qc_list:
        if row['uid'] == i:
            list_of_id.append(index)

In [ ]:
list_of_id

In [ ]:
type(df['uid'][0])

In [ ]:
qc_list = list(questionable_changes.keys())

In [ ]:
qc_list

In [21]:
for uid in uidsList: 
    single_uid_records = df[df['uid']==uid]
    first_row_data = single_uid_records.iloc[0]
    last_end_time = first_row_data['parking_end']
    current_sum = first_row_data['parked_time']
    last_oi = first_row_data['old_index']


    new_df = new_df.append({'old_index': first_row_data['old_index'], 'lat' : first_row_data['lat'], 'lng' : first_row_data['lng'], 
                            'parking_begin' : first_row_data['parking_begin'],
                            'parking_end' : last_end_time, 'parked_time' : first_row_data['parked_time'],
                            'uid' : first_row_data['uid'], 'name' : first_row_data['name'], 'address' : first_row_data['address'],
                            'bike' : first_row_data['bike'], 'bike_racks' : first_row_data['bike_racks'], 
                            'bikes' : first_row_data['bikes'], 'booked_bikes' : first_row_data['booked_bikes'], 
                            'free_racks' : first_row_data['free_racks'], 'free_special_racks' : first_row_data['free_special_racks'],
                            'maintenance' : first_row_data['maintenance'], 'number' : first_row_data['number'], 
                            'place_type' : first_row_data['place_type'], 'rack_locks' : first_row_data['rack_locks'],
                            'special_racks' : first_row_data['special_racks'], 'spot' : first_row_data['spot'], 
                            'terminal_type' : first_row_data['terminal_type'], 'city' : first_row_data['city'],
                            'country_code' : first_row_data['country_code'], 'company' : first_row_data['company'],
                            'timezone' : first_row_data['timezone'], 'available_bikes' : first_row_data['available_bikes']}, ignore_index=True) 

    for index, row in islice(single_uid_records.iterrows(), 1, None):
        if last_oi+1 != df['old_index'][index]:
            break

        d1_ts = time.mktime(df['parking_begin'][index].timetuple())
        d2_ts = time.mktime(last_end_time.timetuple())

        minsDiff = round((int(d1_ts-d2_ts) / 60), 0)
        current_sum += row['parked_time'] + minsDiff

        new_df.iloc[-1, new_df.columns.get_loc('parked_time')] = current_sum
        new_df.iloc[-1, new_df.columns.get_loc('lat')] = row['lat']
        new_df.iloc[-1, new_df.columns.get_loc('lng')] = row['lng']
        new_df.iloc[-1, new_df.columns.get_loc('parking_end')] = row['parking_end']

        last_end_time = row['parking_end']
        last_oi = df['old_index'][index]

In [22]:
new_df.drop(['old_index'], axis=1,inplace=True)

In [23]:
new_df.head(10)

,lat,lng,parking_begin,parking_end,parked_time,uid,name,address,available_bikes,maintenance,bike,bike_racks,bikes,booked_bikes,free_racks,free_special_racks,number,place_type,rack_locks,special_racks,spot,terminal_type,city,country_code,company,timezone
0,50.961457,6.999181,2021-01-01 00:00:01,2021-01-06 11:26:01,7886.0,40590363,BIKE 22329,NaN,814,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
1,50.931226,6.925998,2021-01-06 11:57:02,2021-01-06 16:29:02,272.0,40712345,BIKE 22329,NaN,789,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
2,50.931359,6.909372,2021-01-06 16:41:02,2021-01-08 15:13:01,2792.0,40717401,BIKE 22329,NaN,769,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
3,50.936145,6.929095,2021-01-08 17:05:02,2021-01-10 12:15:02,2590.0,40759633,BIKE 22329,NaN,764,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
4,50.934049,6.904291,2021-01-10 12:34:02,2021-01-10 13:45:01,71.0,40793543,BIKE 22329,NaN,771,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
5,50.938574,6.936416,2021-01-10 14:10:02,2021-01-10 14:10:02,0.0,40795352,BIKE 22329,NaN,759,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
6,50.938417,6.936305,2021-01-10 14:11:01,2021-01-10 22:34:02,503.0,40795615,BIKE 22329,NaN,754,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
7,50.921790,6.926532,2021-01-10 22:52:02,2021-01-11 01:29:02,157.0,40804822,BIKE 22329,NaN,768,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
8,50.937410,6.935496,2021-01-11 01:51:02,2021-01-11 01:51:02,0.0,40806386,BIKE 22329,NaN,791,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin
9,50.937482,6.935671,2021-01-11 01:52:01,2021-01-12 16:44:01,2332.0,40806472,BIKE 22329,NaN,791,False,True,0,1,0,0,0,0,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin

In [24]:
new_df.to_csv('/bigdata/jelicicna/output_datasets/processed_data_nextbike_2021-01.csv', sep=';', index=False)