In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../processed_data_nextbike_2019-12.csv.gz", sep=';', low_memory=False)

In [3]:
unpickled_df = pd.read_pickle("df_cluster.pkl")

In [4]:
unpickled_df

,lat,lng,cluster,lat_mean,lng_mean,size,fraction,distance
0,50.927503,7.005390,90,50.927004,7.008514,168,0.002767,0.003163
1,50.927737,7.005463,90,50.927004,7.008514,168,0.002767,0.003137
2,50.926861,7.010729,90,50.927004,7.008514,168,0.002767,0.002220
3,50.926755,7.010897,90,50.927004,7.008514,168,0.002767,0.002396
4,50.927831,7.005507,90,50.927004,7.008514,168,0.002767,0.003119
...,...,...,...,...,...,...,...,...
60713,50.980643,7.070152,128,50.980965,7.074763,5,0.000082,0.004622
60714,50.981386,7.070343,128,50.980965,7.074763,5,0.000082,0.004440
60715,51.108518,6.825959,103,51.108518,6.825959,1,0.000016,0.000000
60716,50.808659,6.480977,89,50.808659,6.480977,1,0.000016,0.000000
60717,52.089698,11.660785,95,52.089698,11.660785,1,0.000016,0.000000

In [5]:
df

,lat,lng,time_begin,time_end,standing_time_minutes,uid,name,address,bike,bike_racks,...,place_type,rack_locks,special_racks,spot,terminal_type,city,country_code,company,timezone,available_bikes
0,50.927503,7.005390,2019-12-01 00:00:02.682133,2019-12-01 19:32:02.528443,1172.0,25485984,BIKE 21176,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2623
1,50.914818,6.999822,2019-12-01 19:46:02.847699,2019-12-03 19:15:02.855113,2849.0,25526597,BIKE 21176,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2626
2,50.910249,6.999861,2019-12-03 19:24:02.650992,2019-12-05 10:48:02.779322,2364.0,25601187,BIKE 21176,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2607
3,50.908960,6.970103,2019-12-05 11:10:03.195169,2019-12-05 12:02:02.795394,52.0,25662337,BIKE 21176,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2627
4,50.943570,6.960012,2019-12-05 12:20:02.586012,2019-12-05 12:50:02.732413,30.0,25664853,BIKE 21176,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60713,50.951051,6.927066,2019-12-16 01:02:01.881665,2019-12-16 07:15:02.827010,373.0,26038347,BIKE 21633,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2618
60714,50.948473,6.915046,2019-12-16 07:26:02.233758,2019-12-16 08:59:02.503491,93.0,26043700,BIKE 21633,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2628
60715,50.946561,6.886962,2019-12-16 09:11:02.600109,2019-12-16 18:29:02.242488,558.0,26047556,BIKE 21633,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2629
60716,50.910307,6.945997,2019-12-16 19:01:02.265246,2019-12-16 19:27:02.937458,26.0,26068204,BIKE 21633,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2572
60717,50.909158,6.936362,2019-12-16 19:42:02.045320,2019-12-17 08:51:02.126658,789.0,26069660,BIKE 21633,NaN,True,0,...,12,False,0,False,NaN,Köln,DE,Nextbike,Europe/Berlin,2599